:root {
	--dark-blue: #2c2b35;
	--light-gray: #f7f8f8;
	--green-color: #43a548;
	--gray-color: #6f7973;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
ul,
ol {
	list-style: none;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

button {
	border: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--dark-blue);
	background-color: #f7f8f8;
}

.container {
	max-width: 1352px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

*::selection {
	background-color: #ca6b12;
	color: var(--light-gray);
	cursor: pointer;
}

.site-header {
	padding-top: 24px;
	padding-bottom: 24px;
	position: sticky;
	top: 0;
	box-shadow: 0px 4px 24.2px 0px #0000000f;
	background-color: #fff;
}

.site-header__logo-link {
	transition: all 0.4s ease;
	white-space: nowrap;
}

.site-header__logo-link:hover {
	transform: scale(1.1);
}

.site-header__logo-link:active {
	opacity: 0.6;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__list {
	display: flex;
	align-items: center;
}

.site-header__item a {
	font-size: 14px;
	line-height: 1.3;
	text-align: justify;
	transition: all 0.4s ease;
}

.site-header__item:not(:last-child) {
	margin-right: 51px;
}

.site-link {
	background: linear-gradient(to right, #43a548, #52e259);
	border-radius: 21px;
	color: var(--light-gray);
	padding: 10px 20px;
	white-space: nowrap;
}

.site-header__item a {
	color: var(--dark-blue);
	cursor: pointer;
}

.site-header__item:active {
	opacity: 0.6;
}

.site-header__item-link:hover {
	color: var(--green-color);
}

/* HERO START */

.promo {
	padding-top: 50px;
	padding-bottom: 60px;
	background-color: #fff;
}

.promo__container {
	display: flex;
	align-items: center;
}

.promo-info {
	padding-top: 85px;
	padding-bottom: 85px;
	max-width: 646px;
	width: 100%;
	margin-right: 158px;
}

.promo-title {
	font-weight: 600;
	font-size: 60px;
	line-height: 110.00000000000001%;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

.promo-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 139%;
	letter-spacing: 0px;
	margin-bottom: 30px;
}

.btn-active {
	border: 1px solid var(--dark-blue);
	transition: all 0.4s ease;
	cursor: pointer;
}

.btn-active:hover {
	background: linear-gradient(to right, #43a548, #52e259);
}

.btn-active:active {
	opacity: 0.6;
}

.btn {
	padding: 10px 20px;
	border-radius: 21px;
	border: none;
	color: var(--light-gray);
	margin-top: 30px;
	background-color: var(--green-color);
	transition: all 0.4s ease;
}

.promo-market__img {
	padding-top: 55px;
	padding-bottom: 60px;
	margin-top: -45px;
}

/* our-service start */

.our-service {
	background-color: #f7f8f8;
	padding-top: 60px;
}

.our-service__list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.our-service__container {
	background-color: #f7f8f8;
}

.our-service__item {
	max-width: 646px;
	width: 100%;
	padding: 40px;
	border-radius: 30px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 12px 0px #0000000d;
	background-color: #fff;
}

.our-service__span {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}

.our-service__span img {
	margin-right: 9.5px;
}

.our-service__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 139%;
	letter-spacing: 0px;
	color: var(--dark-blue);
}

.our-service__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 139%;
	letter-spacing: 0px;
	color: #6f7973;
	margin-bottom: 32px;
}

.our-service__btn {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 0px;
	text-align: justify;
	padding: 10px 30px;
	border-radius: 21px;
	border: 1px solid var(--green-color);
	color: var(--green-color);
	background-color: var(--light-gray);
	transition: all 0.4s ease;
	cursor: pointer;
}

.our-service__btn:hover {
	background-color: var(--green-color);
	color: var(--light-gray);
}

.our-service__btn:active {
	opacity: 0.6;
}

.mini-box {
	margin-top: 20px;
	padding-top: 33px;
	padding-bottom: 33px;
	display: flex;
	align-items: center;
	padding-left: 32px;
	padding-right: 32px;
	box-shadow: 0px 4px 12px 0px #0000000d;
	background-color: #e3ffe4;
	border-radius: 40px;
	margin-bottom: 102px;
	background: linear-gradient(252.7deg, #ebf5eb 17.34%, #effbf0 90.57%);
}

.mini-box__list {
	display: flex;
	align-items: center;
	margin-right: auto;
}
.mini-box__item img {
	margin-right: 20px;
}

.mini-box__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.3;
	color: var(--green-color);
}

.mini-box__btn {
	background-color: var(--green-color);
	border-radius: 100px;
	padding: 10px 30px;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 0px;
	text-align: justify;
	color: var(--light-gray);
	transition: all 0.4s ease;
	cursor: pointer;
}

.mini-box__btn:hover {
	color: var(--light-gray);
	background: linear-gradient(to right, #43a548, #52e259);
}

.mini-box__btn:active {
	opacity: 0.6;
}

/* features start */

.features {
	padding-top: 0;
	padding-bottom: 120px;
}

.features__list-wrapper {
	display: flex;
	align-items: center;
}

.features__title-wrapper {
	font-weight: 600;
	font-size: 28px;
	line-height: 139%;
	letter-spacing: 0px;
	margin-bottom: 60px;
}

.features__top-title {
	color: var(--dark-blue);
	font-size: 2.8rem;
}

.features__left {
	margin-right: 20px;
	max-width: 646px;
	width: 100%;
	box-shadow: 0px 4px 12px 0px #0000000d;
	border-radius: 40px;
}

.features__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	text-align: center;
	margin-top: 40px;
}

.features__left-list {
	padding: 0 40px 40px;
}

.features__left-item {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.4;
	color: #3d4641;
}

.features__left-item:first-child {
	margin-top: 40px;
}

.features__left-item img {
	margin-right: 20px;
}

.features__left-item:not(:last-child) {
	margin-bottom: 20px;
}

.features__right {
	background: linear-gradient(252.7deg, #e5f6e6 17.34%, #dff7e0 90.57%);
	border-radius: 40px;
	max-width: 646px;
	width: 100%;
}

.features__right-list {
	padding: 40px;
}

.features__right-item {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.4;
	color: #3d4641;
	display: flex;
	align-items: center;
}

.features__right-item img {
	margin-right: 20px;
}

.features__right-item:not(:last-child) {
	margin-bottom: 20px;
}

/* features end */

/* MEDIA START */

@media screen and (max-width: 1024px) {
}
